@charset "utf-8";
.book-display {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* 画像とテキストの間に余白を入れる */
}
.book-section {
  margin-bottom: 30px; /* 画像とフォームの間にスペース */
}
.form-section {
  margin-bottom: 30px; /* フォームとテーブルの間に余白*/
}
